@page "/"
@layout EmptyLayout

@inject Microsoft.AspNetCore.Components.NavigationManager _navigationManager
@inject RestInventorySystem.Data.Services.SessionService _sessionService
@inject RestInventorySystem.Data.Services.AuthService _authService
@inject RestInventorySystem.Data.Repositories.Repository<User> _userRepository;
@inject RestInventorySystem.Data.Repositories.Repository<Spare> _spareRepository;
@inject RestInventorySystem.Data.Repositories.Repository<ActivityLog> _activityLogRepository;

@inject ISnackbar Snackbar;

<div class="d-flex justify-center align-center" style="height: 100vh">
    <MudStack AlignItems="AlignItems.Center">
        <MudIcon Icon="@Icons.Material.Filled.Inventory" Color="Color.Primary" Style="font-size:120" />
        <MudProgressLinear Color="Color.Primary" Indeterminate="true" />
    </MudStack>
</div>

